* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}

header h1 {
    padding-bottom: 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

.normal {
    background-color: white;
    color: black;
}


.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
}

.imagem p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.385);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}